# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Coverage
coverage/
lcov.info

# Dotenv file
.env

# JS dependencies
node_modules/

# Typechain generated and artifacts
*/artifacts/
*/types/